{% extends 'project/base.html'  %}

{% load  static %}
{% block page_content %}
</br>
    </br>
    </br>
<div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <span class="welcome-first animate" data-animate="fadeInUp">Hello, welcome!!!</span>
                        <p class="animate" data-animate="fadeInUp">My name is olalekan  temitayo. I am skilled in Python (Programming Language), Analytical Skills, Pattern Recognition, Application Programming Interfaces, and Natural Language Processing (NLP). Strong business development professional with a Bachelor of Science - BS focused in Mathematics and Computer Science from Obafemi Awolowo University. </p>
                    </div>
                    </br>
                    </br>
                </div>
</div>
     <div class="section animated-row" data-section="slide04">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>My Skills</span>
                                <h2>some of the things i am good at</h2>
                            </div>
                            <div class="skills-row animate" data-animate="fadeInDown">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <div class="skill-item">
                                            <h6>HTML CSS</h6>
                                        </div>
                                        <div class="skill-item">
                                            <h6>Python</h6>
                                        </div>
                                        <div class="skill-item">
                                            <h6>Django</h6>
                                        </div>
                                        <div class="skill-item">
                                            <h6>SQL and No-SQL Database</h6>
                                        </div>
                                        <div class="skill-item last-skill">
                                            <h6>Leadership</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}