{% extends 'project/base.html'  %}

{% load  static %}
{% block page_content %}
</br>
</br>
</br>
</br>
    

    <div class="container">
       <div class = "row">
        <div  class="col-md-4"> </div>
        <div class="col-md-6"> <h1> Hi, I am Olalekan Temitayo.</h1></div>
        <div  class="col-md-2"> </div>
        </div>
        
       
        <div class= "row">
        <div  class="col-md-4">
        <img src="{% static 'project/images/gtt.png'%}"></div>
        <div class="col-md-6"> <H5>
        I'm a Data Scientist, a Backend Developer.
        </H5>
        </div>
        <div class="col">  
        </div>
       </div>
        
    
    </div>

    
    <div class="section " data-section="slide04">
                 <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block " >
                                <span> My Skills</span>
                            </div>

                            <table class='table table borderless, table-sm'>
                            <tbody>
                                 <div class="skills-row " >
                                    <tr>
                                    <td  class='skill-item'>Data analysis</td>
                                    <td  class="skill-item">Python</td>
                                    <td  class="skill-item">JavaScript</td>
                                    <td  class="skill-item"> Machine learning </td>
                                    </tr>
                                    <tr>
                                    <td class="skill-item">Git version Control</td>
                                    <td class="skill-item">Trello- project management tools</td>
                                    <td class="skill-item">Docker</td>
                                    <td class="skill-item"> </td>
                                    </tr>
                                    <tr>
                                    <td class="skill-item">Django</td>
                                    <td class="skill-item">Pandas</td>
                                    <td class="skill-item">Tensorflow</td>
                                    <td class="skill-item"> Numpy </td>
                                    </tr>
                                </div>
                            </tbody>
                            </table>
                            
                            </div>
                    </div>
                </div>
            </div> 

    
    
    
    
    <div class='cta-btn-container'>
        <div class='cta-btn'><a href="https://github.com/temitayopelumi/">See my github</a></div>
    

                        


{% endblock %}